.challenge-form {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  }
  
  .question-card {
    border-radius: 8px;
    border: 2px solid #252525;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  
    .card {
      width: 100%;
    }
  
    .card-body {
      padding: 15px;
    }
  
    h5.card-title {
      font-size: 18px;
      margin-bottom: 10px;
    }
  
    .options {
      display: flex;
      flex-direction: column;
  
      label {
        display: block;
        margin-bottom: 10px;
      }
    }
  }
  
  .submit-button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  
    &:hover {
      background-color: #45a049;
    }
  }
  
  .submit-button {
    background-color: white;
    bottom: 20px;
    left: 20px;
    width: 229px;
    height: 70px;
    font-weight: 700;
    color: #252525;
    border: 2px solid #252525;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #252525;
      color: white;
    }
  }

  .challenge-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  
    input[type="text"] {
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-right: 8px;
      border: none;
      outline: none;
    }
  
    button {
      padding: 10px 15px;
      background-color: #007BFF;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  
    .search-icon {
      font-size: 16px;
      margin-right: 8px;
    }
  }

  .timer {
    font-size: 18px;
    font-weight: bold;
  }
  
  .countdown {
    color: #3498db;
  }
  
  .timer-expiring {
    animation: pulse 0.5s infinite alternate;
  }
  
  @keyframes pulse {
    from {
      color: #e74c3c;
    }
    to {
      color: #3498db;
    }
  }

  .bookmark-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: background-color 0.3s ease;
  }
  
  .bookmark-btn ion-icon {
    font-size: 20px;
    margin-right: 5px;
  }
  
  .bookmark-btn:hover {
    background-color: #45a049;
  }

  .custom-flash-notice {
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    color: #3c763d;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
  }


  // =======
  .challenge-body {
    background-color: transparent;
  }
  
  .ag-courses-list-title {
    margin-bottom: 20px;
  }

  .ag-format-container {
    width: 1142px;
    margin: 0 auto;
  }
  
  .ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  
    padding: 50px 0;
  }
  .ag-courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
  
    margin: 0 15px 30px;
  
    overflow: hidden;
  
    border-radius: 28px;
  }
  .ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #252525;
  
    overflow: hidden;
  
    position: relative;
  }
  .ag-courses-item_link:hover,
  .ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #FFF;
  }
  .ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }
  .ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;
  
    overflow: hidden;
  
    font-weight: bold;
    font-size: 30px;
    color: #FFF;
  
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date-box {
    font-size: 18px;
    color: #FFF;
  
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date {
    font-weight: bold;
    color: #f9b234;
  
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
  }
  .ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;
  
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
  
    border-radius: 50%;
  
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
  .ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #3ecd5e;
  }
  .ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #e44002;
  }
  .ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #952aff;
  }
  .ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #cd3e94;
  }
  .ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #4c49ea;
  }
  
  
  
  @media only screen and (max-width: 979px) {
    .ag-courses_item {
      -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
    }
    .ag-courses-item_title {
      font-size: 24px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  
  }
  @media only screen and (max-width: 639px) {
    .ag-courses_item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
    .ag-courses-item_title {
      min-height: 72px;
      line-height: 1;
  
      font-size: 24px;
    }
    .ag-courses-item_link {
      padding: 22px 40px;
    }
    .ag-courses-item_date-box {
      font-size: 16px;
    }
  }

  a,
  a {
    text-decoration: none !important;
    color: inherit !important;
  }
  
  a:hover,
  a:hover {
    text-decoration: none !important;
    color: inherit !important;
  }
  .ag-search-bar {
    max-width: 690px;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    background-color: #FFEEEE;
    border-radius: 40px;
    padding: 10px;
    box-shadow: 0px 4px 8.1px 0px rgba(0, 0, 0, 0.51);
  }
  
  .search-container-cl {
    display: flex;
    align-items: center;
    gap: 3px;
  }
  
  .search-input {
    margin-left: -5spx;
    background-color: transparent;
    color: #7C7C7C;
    font-family: Urbanist;
    font-size: 26px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    border: none;
    outline: none;
  }
  
  .search-icon {
    color: #7C7C7C;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    padding: 10px;
    background: none;
  }