.challenge-form {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  }
  
  .question-card {
    border-radius: 8px;
    border: 2px solid #252525;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  
    .card {
      width: 100%;
    }
  
    .card-body {
      padding: 15px;
    }
  
    h5.card-title {
      font-size: 18px;
      margin-bottom: 10px;
    }
  
    .options {
      display: flex;
      flex-direction: column;
  
      label {
        display: block;
        margin-bottom: 10px;
      }
    }
  }
  
  .submit-button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  
    &:hover {
      background-color: #45a049;
    }
  }
  
  .submit-button {
    background-color: white;
    bottom: 20px;
    left: 20px;
    width: 229px;
    height: 70px;
    font-weight: 700;
    color: #252525;
    border: 2px solid #252525;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #252525;
      color: white;
    }
  }

  .challenge-list {
    list-style-type: none;
    padding-left: 100px;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .challenge-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    width: 200px;
    height: 150px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
  
    h3.challenge-title {
      font-size: 18px;
      color: #333;
      margin-bottom: 10px;
      word-break: break-word;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .hover-info {
      color: white;
      font-weight: 700;
      display: none;
      position: absolute;
      top: 0;
      left: 110%;
      width: 300px;
      max-width: calc(100vw - 120px);
      height: 200px;
      max-height: calc(100vh - 120px);
      padding: 10px;
      background-color: #0D1117;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      z-index: 99;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
  
    &:hover {
      transform: scale(1.05);
  
      .hover-info {
        display: block;
        opacity: 1;
      }
    }
  }

  .index-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .subtitle {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }

  .challenge-bar {
    border-radius: 30px;
    margin-left: 100px;
    display: flex;
    align-items: center;
  
    input[type="text"] {
      padding: 8px;
      font-size: 20px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-right: 8px;
      flex-grow: 1;
      border: none;
      outline: none;
    }
  
    button {
      padding: 8px 12px;
      background-color: #007BFF;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  
    .search-icon {
      font-size: 20px;
      margin-right: 8px;
    }
  }
  