.wrapper-dhs {
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-direction: row;
  height: 100vh;
  flex-wrap: nowrap;
  background-color: #FFF5F5;
  gap: 20px;
}
.badge-list {
    display: flex;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
  }
  
  .badge-container {
    margin: 10px;
    position: relative;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
  
    &:hover {
      transform: scale(1.05);
      z-index: 2;
    }
  
    img {
      object-fit: cover;
      width: 100px;
      height: 100px;
      border-radius: 8px;
    }
  
    .badge-details {
      color: white;
      font-weight: 700;
      display: none;
      position: absolute;
      top: 0;
      left: 110%;
      width: 300px;
      max-width: calc(100vw - 120px);
      height: 200px;
      max-height: calc(100vh - 120px);
      padding: 10px;
      background-color: #0D1117;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      z-index: 99;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
  
      .badge-count {
        font-size: 14px;
      }
  
      .p-usn {
        font-weight: 400;
      }
    }
  
    &:hover .badge-details {
      display: block;
      opacity: 1;
      z-index: 99;
    }
  }
  
  .badge-details p {
    margin: 0;
    padding: 5px 0;
  }
  
  .badge-history {
    font-size: 80%;
    color: #5b5b5b;
  }
  
  .badge-type {
    font-weight: bold;
    color: #5b5b5b;
  }
  
  .badge-unlocked {
    color: #245E31;
    font-weight: 800;
  }
  
  .badge-date {
    color: #5b5b5b;
    font-weight: 300;
  }
  
  .card-profile {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 15px;
    border-radius: 8px;
    padding: 10px;
    max-width: 460px;
    max-height: 900px;
  
    .card-name {
      color: #252525;
      font-family: Urbanist;
      font-size: 46px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 5px;
    }
    .card-surname {
      color: #A1A1A1;
      font-size: 27px;
      font-family: Urbanist;
      font-weight: 300;
      word-wrap: break-word;
      margin-bottom: 50px;
    }
  }
  
  .button-container {
    width: 100%;
    height: 100%;
    position: relative;
  
    button.custom-button {
      width: 335px;
      height: 56px;
      background: #562D2D;
      border-radius: 20px;
      border: 1px #252525 solid;
      color: white;
      font-size: 30px;
      font-family: Urbanist;
      font-weight: 600;
      word-wrap: break-word;
    }
  }

  .achieve {
    border: 1px solid #252525;
    margin: 0;
    width: 412.001px;
  }
  
  .bio-container {
    span {
      color: #252525;
      font-size: 20px;
      font-family: Urbanist;
      font-weight: 500;
      margin-bottom: 10px;
    }
  }

  .achievements-container {
    padding: 10px;
    margin-top: 15px;
    width: calc(100% - 15px);
  }
  
  .achievements-title {
    font-weight: 800;
    font-size: 46px;
    color: #252525;
  }

  .profile-picture {
    background-size: cover;
    width: 295.95px;
    height: 295.95px;
    border-radius: 300px;
    border: 5px #252525 solid;
  }

  .status-button {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    fill: #A1FF89;
    stroke-width: 2px;
    stroke: #252525;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 300px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &.online {
      background-color: #A1FF89;
    }
  
    &.idle {
      background-color: #d78826;
    }
  
    &.donotdisturb {
      background-color: #e74c3c;
    }
  }

  .hidden {
    display: none;
  }

  .user-profile {
    position: relative;
    display: inline-block;
  }

  .menu-profile {
    padding: 44px;
    width: 100%;
    height: 80px;
    background: #252525;
    justify-content: flex-start;
    align-items: center;
    gap: 72px;
    display: inline-flex;
  
    p {
      margin: 0;
      color: white;
      font-size: 24px;
      font-family: Urbanist;
      font-weight: 500;
      word-wrap: break-word;
    }
  }
  
  .bookmarked-challenges-container {
    
    overflow-y: auto;
    position: relative;
    border-radius: 15px;
    border: 1px solid #252525;
    background: #7A5C58;
    padding: 10px;
    width: 314px;
    height: 100px;
    margin-left: 20px;
    margin-top: 54px;
    margin-bottom: 15px;
  }
  
  .bookmarked-challenges-title {
    font-size: 24px;
    color: #252525;
    margin-top: -40px;
    position: absolute;
      top: 0;
      left: 0;
  }
  
  .bookmarked-challenges-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 0;
    margin: 0;  
  }
  
  
  .bookmarked-challenge-container:hover {
    transform: scale(1.05);
  }
  
  .bookmarked-challenge-container .challenge-card {
    position: relative;
    transition: transform 0.4s ease;
  
    &:hover {
      transform: scale(1.05);
    }
  
    .challenge-title {
      color: #252525;
      font-size: 20px;
      font-weight: 700;
    }
  }


  .news-container {
    overflow-y: auto;
    position: relative;
    border-radius: 15px;
    border: 5px solid #921313;
    background: #562D2D;
    padding: 10px;
    max-width: 314px;
    height: 320px;
    margin-left: 20px;
    margin-top: 54px;
    margin-bottom: 15px;
  }
  
  .news-title {
    font-size: 24px;
    color: #252525;
    margin-top: -363px;
  }

  .bookmarked-title {
    color: #FFF;
    font-family: Urbanist;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
    word-wrap: break-word;
}
  .news-content {
    color: #FFF;
    font-family: Urbanist;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
    word-wrap: break-word;
  }
  
  .news-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 0;
    margin: 0;  
  }
  .wrapper {
    overflow: visible;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 20px;
    margin: 50px;
  }

  .leaderboard-container {
    position: relative;
    margin-right: 20px;
    padding: 10px;
    margin-top: 42px;
    width: calc(25% - 15px);
  }
  
  .leaderboard-title {
    font-size: 24px;
    color: #252525;
    margin-top: -756px;
  }
  .leaderboard-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .leaderboard-item {
    border-radius: 15px;
    gap: 5px;
    display: flex;
    align-items: flex-start;
    align-items: center;
    padding: 10px;
    border: 1px solid #e0e0e0;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}
.gold {
  background-color: gold;
}

.silver {
  background-color: silver;
}

.bronze {
  background-color: #cd7f32;
}
  .user-points {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  
  .leaderboard-item:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }
  
  .current-user {
    background-color: gold;
    font-weight: bold;
  }

  .current-user-container {
    width: 100%;
    margin-top: 20px;
  }
  
  .current-user-info {
    padding: 10px;
    border: 1px solid #e0e0e0;
    background-color: #f8f8f8;
    span{
      margin-right: 10px;
      }
  }

  .profile-picture-ldb {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background-color: #7a73ff;
  }
  
