.badge-list {
    display: flex;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
  }
  
  .badge-container {
    margin: 10px;
    position: relative;
    transition: transform 0.3s ease-in-out;
  
    &:hover {
      transform: scale(1.05);
    }
  
    img {
      object-fit: cover;
      width: 100px;
      height: 100px;
      border-radius: 8px;
    }
  
    .badge-details {
      color: white;
      font-weight: 700;
      display: none;
      position: absolute;
      top: 0;
      left: 110%;
      width: 300px;
      max-width: calc(100vw - 120px);
      height: 200px;
      max-height: calc(100vh - 120px);
      padding: 10px;
      background-color: #0D1117;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      z-index: 20;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
  
      .badge-count {
        font-size: 14px;
      }
  
      .p-usn {
        font-weight: 400;
      }
    }
  
    &:hover .badge-details {
      display: block;
      opacity: 1;
    }
  }
  
  .badge-details p {
    margin: 0;
    padding: 5px 0;
  }
  
  .badge-history {
    font-size: 80%;
    color: #5b5b5b;
  }
  
  .badge-type {
    font-weight: bold;
    color: #5b5b5b;
  }
  
  .badge-unlocked {
    color: #245E31;
    font-weight: 800;
  }
  
  .badge-date {
    color: #5b5b5b;
    font-weight: 300;
  }
  
  .card-profile {
    margin: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    padding: 10px;
    max-width: 460px;
    max-height: 900px;
  
    .card-name {
      color: #252525;
      font-family: Urbanist;
      font-size: 46px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 10px;
    }
  }
  
  .button-container {
    width: 100%;
    height: 100%;
    position: relative;
  
    button.custom-button {
      width: 100%;
      height: 56px;
      background: #562D2D;
      border-radius: 20px;
      border: 1px #252525 solid;
      color: white;
      font-size: 30px;
      font-family: Urbanist;
      font-weight: 600;
      word-wrap: break-word;
    }
  }
  
  .bio-container {
    span {
      color: #252525;
      font-size: 20px;
      font-family: Urbanist;
      font-weight: 500;
      margin-bottom: 10px;
    }
  }
  
  .achievements-title {
    font-weight: 700;
    font-size: 40px;
    color: #252525;
  }

  .profile-picture {
    background-size: cover;
    width: 295.95px;
    height: 295.95px;
    border-radius: 300px;
    border: 5px #252525 solid;
  }

  .status-button {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    fill: #A1FF89;
    stroke-width: 2px;
    stroke: #252525;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 300px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &.online {
      background-color: #A1FF89;
    }
  
    &.idle {
      background-color: #d78826;
    }
  
    &.donotdisturb {
      background-color: #e74c3c;
    }
  }

  .hidden {
    display: none;
  }

  .user-profile {
    position: relative;
    display: inline-block;
  }