/*=============== REUSABLE CSS CLASSES ===============*/
.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  width: 100%;
}



/*=============== WEBKIT DO NOT TOUCH ===============*/

/* width */
::-webkit-scrollbar {
    width: 15px;
  }

  /* button */
  ::-webkit-scrollbar-button {
    display: none;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0007;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0009;
  }

  ::-webkit-scrollbar-thumb:hover ::-webkit-scrollbar {
    width: 15px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #0005;
  }

  /* Corner */
  ::-webkit-scrollbar-corner {
    display: none;
  }

  /* Resizer */
  ::-webkit-resizer {
    background: #999;
  }


/*=============== CORE ===============*/

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: 'Urbanist', sans-serif;
  }

/*=============== HEADER ===============*/
header {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  background-color: #f4f4f4;
}

header .logo {
  position: relative;
  color: #FF4E58;
  text-decoration: none;
  font-weight: 700;
  font-size: 2em;
}

.group {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 438px;
}

.group .navigation,
.group .action {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-size: 24px;
}

.group .navigation li {
  white-space: nowrap;
}

.group ul li {
  list-style-type: none;
}
.group ul li a {
  text-decoration: none;
  color: #222222;
  margin-left: 30px;
  font-weight: 800;
  transition: color 0.3s ease;
}

.group ul li a:hover {
  color: #FF4E58;
}

.group .action {
  margin-left: 20px;
}

.group .action li a {
  font-size: 1.25em;
}
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
}

.banner .bg {
  position: relative;
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .background{  
    filter: brightness(70%) contrast(120%) saturate(120%);
  }
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.content h2 {
  width: 1380px;
  position: relative;
  font-size: 5em;
  color: #1d0101;
  text-align: center;
  font-weight: 800;
  span {
    color: white;
  }
}

.btn {
  display: inline-block;
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 1em;
  margin-top: 20px;
  letter-spacing: 1px;
}


.cta-button {
  background-color: white;
  opacity: 0.8;
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 229px;
  height: 70px;
  border: 2px solid #252525;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #252525;
}

.cta-link {
  text-decoration: none;
  color: #252525;
  font-family: 'Urbanist', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.cta-button:hover .cta-link {
  background-color: transparent;
  color: white;
}
  

/*=============== HOW IT WORKS ===============*/


.how-it-works{
  background-color: #FFD2D2;
}

.how-it-works-content h3{
  text-align: center;
  color: #252525;
  font-size: 30px;
  font-family: Urbanist;
  font-weight: 700;
  letter-spacing: 1.50px;
  word-wrap: break-word;
}

.how-it-works-content-item{
  p {
    text-align: center;
    color: #252525;
    font-size: 30px;
    font-family: Urbanist;
    font-weight: 400;
    letter-spacing: 1.50px;
    word-wrap: break-word;
    }
}

.start-button {
  position: absolute;
  bottom: -645px;
  left: 50%;
  transform: translateX(-50%);
  width: 329px;
  height: 102px;
  border: 2px solid #252525;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

.start-button:hover {
  background-color: #252525;
}

.start-link {
  text-decoration: none;
  color: #252525;
  font-family: 'Urbanist', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: color 0.3s ease;
  background-color: transparent;
}

.start-link:hover {
  color: white;
}

/*=============== CAROUSEL ===============*/
