<% if notice %>
  <div class="game-notification success-notification m-1">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<% if alert %>
  <div class="game-notification warning-notification m-1">
    <%= alert %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>


<style>
  .game-notification {
    position: fixed;
    top: 120px;
    right: 20px;
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
    animation: slide-in 0.5s ease-in-out, slide-out 0.5s ease-in-out 4.5s forwards;
  }

  .success-notification {
    background-color: #5cb85c;
    color: #fff;
  }

  .warning-notification {
    background-color: #f0ad4e;
    color: #fff;
  }

  @keyframes slide-in {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes slide-out {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }
</style>