<% if notice %>
  <div class="game-notification success-notification m-1">
    <%= notice.gsub("\n", '<br>').html_safe %>
  </div>
<% end %>

<% if alert %>
  <div class="warning-notification m-1">
    <%= alert %>
  </div>
<% end %>


<style>

  .warning-notification {
    background-color: #ff5555;
    color: #fff;
    position: fixed;
    top: 190px;
    right: 20px;
    width: 400px;
    padding: 20px;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
    animation: slide-in 0.8s ease-in-out, slide-out 0.8s ease-in-out 4s forwards, hide-notification 0s 4.8s forwards;
  }

  .game-notification {
    position: fixed;
    top: 120px;
    right: 20px;
    width: 400px;
    padding: 20px;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
    animation: slide-in 0.5s ease-in-out, slide-out 0.5s ease-in-out 4s forwards, hide-notification 0s 4.5s forwards;
  }

  .success-notification {
    background-color: #5cb85c;
    color: #fff;
  }

  @keyframes slide-in {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes slide-out {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }
  @keyframes hide-notification {
    to {
      display: none;
    }
  }

</style>